@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.input {
   background: #FDFDFD;
   border: 1px solid #BDBDBD;
   box-sizing: border-box;
   border-radius: 10px;
}

body{
   background-image: url('/src/img/Background.png');
}